.form{
	width: 400px;
}

h1 {
text-align: center;  
}

input.invalid {
background-color: #ffdddd;
}

.tab {
display: none;
}


#text{
	display: none;
}

#number{
	display: none;
}

#sub{
	display: none;
}
#thanks{
	display: none;
}